html {
    font-size: 10px;
}

.face {
  background-color: red;
  width: 50rem;
  height: 50rem;
}

.eyeball {
  position: absolute;
  top: 12rem;
  background-color: white;
  width: 10rem;
  height: 10rem;
}

.eyeball--left {
  position: absolute;
  left: 11rem;
}

.eyeball--right {
  position: absolute;
  left: 31rem;
}

.pupil {
  position: absolute;
  top: 7rem;
  left: 2rem;
  background-color: black;
  width: 3rem;
  height: 3rem;
}

.pupil:hover {
}

.mouth {
    background: #fff;
    border-radius: 4rem;
    height: 8rem;   
    width: 60%;
    position: relative;
    top: 70%;
    left: 20%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.teeth {
    background: black;
    width: 0.5rem; 
    height: 8rem;
    position: relative;
}