<div class="face">
  <div class="eyeball eyeball--left animate__animated animate__bounce">
    <div class="pupil animate__animated animate__bounce"></div>
  </div>
  <div class="eyeball eyeball--right animate__animated animate__bounce">
    <div class="pupil animate__animated animate__bounce"></div>
  </div>
  <div class="mouth flex-container">
    <div class="teeth"></div>
    <div class="teeth"></div>
    <div class="teeth"></div>
    <div class="teeth"></div>
    <div class="teeth"></div>
  </div>
</div>
